
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CategoryCreateInput

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Create Category</h5>

                <form asp-controller="Category" asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Create Category</button>
                </form>
            </div>
        </div>
    </div>
</div>

