@{
    ViewData["Title"] = "Home Page";
}
@model List<ProductVM>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h3 class="display-4 fw-bolder">Electronic Products</h3>
            <p class="lead fw-normal text-white-50 mb-0">With Incredible Discounts and Latest Technology</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
            @foreach (var product in Model)
            {
                if (product.Stock > 0)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            @if (product.ImageFile != null)
                            {
                                <img class="card-img-top" src="@product.StockPictureUrl" alt="..." />
                            }
                            else
                            {
                                <img class="card-img-top" src="~/photos/No_Image_Available.jpg" alt="..." />
                            }
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@product.Name</h5>
                                    <!-- Product price-->
                                    @product.Price $
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a asp-action="AddToCart" asp-controller="Home" asp-route-id=@product.Id class="btn btn-outline-dark mt-auto">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
