
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<hr />



<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <h5 class="card-header">Products</h5>
            <div class="card-body">
                <h5 class="card-title">Total Product: @ViewBag.TotalProduct</h5>
                <p class="card-text">Press the button for product detail,create,update and delete.</p>
                <a asp-controller="Product" asp-area="Admin" asp-action="Index" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                <h5 class="card-title">Total Category: @ViewBag.TotalProduct</h5>
                <p class="card-text">Press the button for category detail,create,update and delete.</p>
                <a asp-controller="Product" asp-area="Admin" asp-action="Index" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <h5 class="card-header">Orders</h5>
            <div class="card-body">
                <h5 class="card-title">Total Category: @ViewBag.TotalProduct</h5>
                <p class="card-text">Press the button for category detail,create,update and delete.</p>
                <a asp-controller="Product" asp-area="Admin" asp-action="Index" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <h5 class="card-header">Customers</h5>
            <div class="card-body">
                <h5 class="card-title">Total Category: @ViewBag.TotalProduct</h5>
                <p class="card-text">Press the button for category detail,create,update and delete.</p>
                <a asp-controller="Product" asp-area="Admin" asp-action="Index" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
</div>

